.app {
   display: grid;
   grid-column-gap: 10px;
   grid-template-columns: 2fr 1fr;
}
.title {
   padding-top: 15px;
   padding-left: 15px;
}
.notifyContainer {
   border-radius: 3px;
   background-color: #66e48c;
   width: 300px;
   padding: 10px 0px 10px 10px;
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "nseat cancel" "nbody cancel";
}
.notifySeat {
   grid-area: nseat;
   padding-left: 5px;
}
.notifyBody {
   padding-left: 5px;
   grid-area: nbody;
}
.notifyCancel {
   grid-area: cancel;
   justify-self: center;
   align-self: center;
}
.timersPanel {
   display: grid;
   grid-template-columns: repeat(auto-fit, 300px);
   grid-gap: 15px;
   margin-top: 15px;
   margin-left: 15px;
}
.notifyPanel {
   display: grid;
   grid-template-columns: 1fr;
   grid-row-gap: 15px;
   padding-top: 15px;
   padding-left: 15px;
}
.timerSeat {
   justify-self: start;
   padding-top: 15px;
   padding-left: 15px;
   align-self: center;
   grid-area: seat;
}
.timerLimit {
   font-size: 14;
   justify-self: end;
   align-self: center;
   padding-right: 15px;
   padding-top: 10px;
   grid-area: limit;
}
.timerRemain {
   font-size: 20;
   justify-self: left;
   padding-left: 15px;
   grid-area: remain;
}
.timerIcon {
   justify-items: center;
   align-items: center;
   display: grid;
   grid-area: icon;
}
.paused {
   background-color: #ffd344;
   border-radius: 3px 0px 0px 3px;
}
.counting {
   background-color: #8fc3ff;
   border-radius: 3px 0px 0px 3px;
}
.timerContainer {
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 1fr 2fr 2fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "icon seat limit" "icon remain remain";
   border-radius: 3px;
   background-color: #e2e2e2;
}
